<div  class="userposts">
  <div class="profIntro">
    <img src="<%=  @user.photo %>" alt="profileImg" class="profileImg">
    <div>
      <h3><%=  @user.name %></h3>
      <span> Number of Posts:<%=  @user.posts_counter %></span>
    </div>
  </div>
  <p class="bio"><%= @user.bio %></p>
  <div class="posts">
    <% @user.most_recent_posts.each do |post| %>
      <%= render partial: 'posts/listpost', locals: { post: post } %>
    <% end %>
  </div>
</div>
