<div class="postIntro" >
  <h4 >Post #<%= post_number(post) %>
  </h4>
  <a href="<%=user_post_path( post.author,post) %>"><%= post.title  %></a>
  <p><%= post.text  %></p>
  <div><span>Comments: <%= post.comments_counter  %></span> <span> Likes: <%= post.likes_counter%> </span></div>
</div>
